{% extends 'base.html' %}

{% block meta %}
<title >Add Todo List</title>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <style>
            
            ul {
              list-style-type: none;
              margin: 0;
              padding: 14px 16px;
              background-color: #B9FFF8;
              
            }
            
            li {
              display: inline;
            }

            li a{
                text-decoration: none;
            }

            </style>
        <ul class="navbar-nav">
          <li class="nav-item">
            <span style='font-size:30px;'>&#127836;</span>
            <span class="navbar-brand" href="#">{{nama}}</span>
            <a style="font-size: 30px">{{user.username}}</a>
          </li>
        </ul>
    </div>
</nav>

<body style="background-color: #DFCDC3">

<div style="text-align: center"class = "add">
    <h1 style="text-align: center; color: #3C4245 ">Add New Task</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label for="title">Title:</label>
            <input id="title" type="text" name="title" placeholder="Input your task" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <input id="description" type="text" name="description" placeholder="Describe your task" required>
        </div>
        <br><br>
        <input style= "background-color: #cf9fca; padding: 12px 20px; text-decoration: none;" class="button" type="submit" value="Add">
    </form>

</div>
</body>
{% endblock content %}