{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <style>
            
            ul {
              list-style-type: none;
              margin: 0;
              padding: 14px 16px;
              background-color: #B9FFF8;
              text-align: center;
              
            }
            
            li {
              display: inline;
              
            }

            li a{
                text-decoration: none;
            }

            </style>
        <ul class="navbar-nav">
          <li class="nav-item">
            <span class="navbar-brand" href="#">{{nama}}</span>
            <a style="font-size: 30px; font-family: 'Gill Sans';"><span style='font-size:25px;'>&#128075;</span> Welcome<span style='font-size:25px;'>&#128075;</span></a>
          </li>
        </ul>
    </div>
</nav>

<body style="background-color: #DFCDC3">

<div style="text-align: center" class = "login">

    <h1 style="text-align: center; color: #3C4245 ">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table table align="center">
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input style="background-color: #cf9fca; padding: 5px 20px;" class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <button style="background-color: #cf9fca; padding: 5px 20px;"><a style= "text-decoration: none;" href="{% url 'todolist:register' %}">Buat Akun</a></button>

</div>

{% endblock content %}