{% extends 'base.html' %}
{% block meta %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>

      function load(data) {
          let card = ``;

          for (let i of data) {

              let is_finished_status = i.fields.is_finished ? "Finished" : "Haven't Finish"

              card += `
                  <div id="${i.pk}" class="card shadow p-3 mb-5 bg-body rounded mx-3 my-4 mouse">
                      <div class="card" style="width: 19rem; height: 100%;">
                          <div class="card-body">
                              <div>
                                  <button id ="btn-ans"><a href="/todolist/update_status/${i.pk}">${is_finished_status}</a></button>
                                  <button id ="btn-ans" onclick= "delete_task(${i.pk})">Delete</button>
                              </div>
                              <br>
                              <small class="card-subtitle mb-2 text-muted">${i.fields.date}</small>
                              <h5 class="card-title">${i.fields.title}</h5>
                              <p class="card-text tex-truncate">${i.fields.description}</p>
                          </div>
                      </div>
                  </div>
              `;
          }

          document.getElementById("make-card").innerHTML = card;
      }

      function refresh() {
          $.get("{% url 'todolist:todolist_json' %}", function (data) {
              load(data);
          });
      }
    
      $(document).ready(function () {
          refresh();
      });

      function submitTask() {
          $.ajax({
              type: "POST",
              url: "{% url 'todolist:todolist_ajax' %}",
              data: {
                  csrfmiddlewaretoken: "{{ csrf_token }}",
                  title: $("#title").val(),
                  description: $("#description").val(),
              },
              dataType: "json",
              success: function () {
                  refresh();
                  $("#addModal").modal('hide')
                  document.getElementById("title").value = "";
                  document.getElementById("description").value = "";
              },
          });
      }
      

  </script>

{% endblock meta %}

{% block content %}

<style>
  body{
    background-color: #DFCDC3;
  }
</style>

<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <style>
          
          ul {
            list-style-type: none;
            margin: 0;
            padding: 14px 16px;
            background-color: #B9FFF8;
          }
          
          li {
            display: inline;
          }

          li a{
            text-decoration: none;
          }

          </style>
      <ul class="navbar-nav">
        <li class="nav-item">
          <span class="navbar-brand mb-0 h1" href="#">{{nama}}</span>
          <span style='font-size:30px;'>&#127836;</span>
          <a style="font-size: 30px">{{user.username}}</a>
          <button  style=" float:right; background-color: #DFCDC3 ;padding: 14px 28px;"><a class="btn btn-warning" type="button" href="{% url 'todolist:logout' %}">Log Out</a></button>
        </li>
      </ul>
  </div>
</nav>


<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<style>
    table, th{
      text-align: center;
      border: 1px solid #C9E4C5;
      border-collapse: collapse;
    }
    td{
      text-align: center;
      border: 1px solid #C9E4C5;
      border-collapse: collapse;
    }
    .button{
      text-align: center;
      margin-top: 10px;
    }
  </style>

<table style=" margin-top: 20px;
margin-right: auto;
margin-left: auto;
margin-bottom: 50px;
width: 80%;"rules="all", border="1", table align="center">
  <thread>
    <tr style="background-color: #E5E4CC;">
      <th colspan="2">Date</th>
      <th colspan="2">Title</th>
      <th colspan="3">Description</th>
      <th colspan="2">Status</th>
      <th colspan="2" ></th>
    </tr>
  </thread>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in todolist %}
    <tr style="background-color: #E5E4CC;" >
        <td colspan="2">{{task.date}}</td>
        <td colspan="2">{{task.title}}</td>
        <td colspan="3">{{task.description}}</td>
        <td colspan="2">
          {% if task.is_finished %}
              Done
              {% else %}
              Not Yet
              {% endif %}
        </td>
        <td colspan="2">
          <button><a href="delete_task/{{task.pk}}">Delete</a></button>
          <button><a href="status/{{task.pk}}">Status</a></button>
        </td>
    </tr>
{% endfor %}
</table>

<div style="display: flex; flex-direction: row; flex-wrap: wrap">

  {% for card in todolist %}
  {#  Single Card Template:#}
  <div class="card" style="width: 15rem; margin: 10px; background-color: aliceblue;">
    <img src="{{ card.image }}" class="card-img-top" >
    <div class="card-body">
      <div style="display: flex; flex-direction: row;" >
        <h1 class="card-title">{{ card.title }}</h1>
        {#  Colored cirlce:#}
        {% if card.is_finished %}
              <div style="
                background: #cf9fca;
                width: 30px;
                height: 30px;
                margin-left: 130px;
                border-radius: 50%;
              "></div>
              {% else %}
                <div style="
                background: #bdc6fa;
                width: 30px;
                height: 30px;
                margin-left: 130px;
                border-radius: 50%;
              "></div>
              {% endif %}
      </div>
      <p class="card-text">{{card.description }}</p>
      <p class="card-text">{{card.date }}</p>
    </div>
  </div>
  {% endfor %}

</div>


<div class="button">
  <button style="background-color: #cf9fca; padding: 14px 28px;"><a style=" text-decoration: none;" href="{% url 'todolist:create_task' %}">Add Todo</a></button>  
</div>

</body>


{% endblock content %}